header{
  background-color: rgb(15, 221, 204);
}
#images{
  height: 60px;
  margin: auto;
  padding: auto;
}
#images img{
  width: 50px;
  height: 50px;
  position: static;
}
#lists{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  display: block;
}
.img_list{
  list-style: none;
  display: inline-block;
}
.img_list img{
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
}