html{
  touch-action: manipulation;
}

/*
.language-change{
  position: fixed;
  z-index: 10;
  background-color: #16d088;
}
*/
#headerDiscription{
  background-color: rgb(15, 221, 204);
}

#images{
  margin-bottom: 5px;
  padding: 10px;
  border: black solid 1px;
  background-color: gray;
  overflow: auto;
  max-height: 230px;
  max-width: 570px;
  margin-right: 20px;
}
#hr{
  margin: 10px;
}
#images img{
  margin: 0;
  width: 50px;
  height: 50px;
  position: static;
}
.item_select{
  width: 50px;
  height: 50px;
  border: gray solid 5px;
  padding: 0;
  margin: 0;
}
#file_name{
  margin: 0;
  padding: 0;
}
#images img:hover{
  cursor: pointer;
}
#lists img:hover{
  cursor: pointer;
}
#lists{
  margin: 0;
  padding: 0;
  max-width: 350px;
  max-height: 300px;
  width: 350px;
  height: 300px;
  border: 5px solid rgb(243, 151, 105);
  background-color: gray;
  display: block;
  margin: 0;
  font-size: 0;
}
#lists li{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-height: 50px;
  max-width: 50px;
}
.img_list{
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
#canvas_2d{
  border: black solid 1px;
}

#usage{
  background-color: rgb(233, 185, 97);
}
.ac-cap{
  padding-bottom: 10px;
}
.ac-cap label{
  background-color: rgb(83, 221, 48);
  text-align: center;
  color: white;
  display: flex;
  text-align: center;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  height: 30px;
  transition: 1s;
  transform: rotate(0deg);
}
.ac-cap label:hover{
  cursor: pointer;
}
.ac-cap input,
.sheen_hp input{
  display: none;
}
.ac-cap .content{
  max-height: 0;
  text-align: center;
  overflow-y: auto;
  transition: max-height 0.75s ease-in;
  line-height: 30px;
}
.ac-cap input:checked + .ac-title + .content{
  max-height: 23vh;
}
.ac-cap input + .ac-title::before{
  content: "[+]";
}
.ac-cap input:checked + .ac-title::before{
  content: "[-]";
}

.div_submit input[type="button"]{
  margin-right: 3px;
  margin-bottom: 5px;
}

#canvas_img{
  display: none;
  max-width: 350px;
  max-height: 350px;
  background-color: gray;
  width: auto;
  height: auto;
  border: 5px solid rgb(243, 151, 105);
}
#download_image, #calendar{
  max-width: 350px;
  max-height: 350px;
  margin: 0;
}
#canvas_img_back{
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
}

#result_table{
  border-collapse: collapse;
}
#result_table th, #result_table tr, #result_table td{
  border: solid 1px black;
}
#result_table img{
  margin: 0;
  width: 50px;
  height: 50px;
}

#result_clicked{
  display: none;
}

.button_img{
  width: 25px;
}
.button_text{
  display: flex;
}

/*ボタンデザイン*/
#class_submit{
  text-align: center;
  padding: 20px;
  display: inline;
}
button,input[type=button] {
  background-image: linear-gradient(120deg, #ffc0cb 50%, #ffa07a 50%); /* 2色のグラデーション */
  background-repeat: no-repeat;
  background-size: 100% 200%; /* 垂直方向に2倍に広げる */
  color: black;
  font-size: 0.85em;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-position 0.3s ease;
  text-shadow: 1px 1px 0 white;
  font-weight: bold;
  margin: 5px;
  max-width: 50%;
}

button img,
input[type="button"] img {
  margin-right: 5px; /* 画像とテキストの間隔を設定 */
}

input[type=button]:hover, button:hover{
  background-position: 0% 100%;
}

#LF{
  display: flex;
  flex-direction: row;
}
/* スマートフォン用のスタイル */
@media (max-width: 767px) {
  #class_submit {
    padding: 10px;
  }

  input[type=button] {
    font-size: 14px;
    padding: 8px 16px;
  }

  .ac-cap .content{
    max-width: 100%;
    text-align: left;
  }

  #images, #items{
    max-height: 160px;
    position: relative;
  }
  #download_image, #calendar{
    margin-top: 70px;
  }

  #LF{
    display:inline;
    margin: 10px;
  }
}

@media (max-width:639px){
  .sp{
    display: inline;
  }
}

.toggle {
  position: relative;
  width: 78px;
  height: 48px;
  /* margin: 40px 60px; */
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #f45e55;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle:after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-align: center;
  padding: 14px 0 0;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  color: #df4c43;
  letter-spacing: .5px;
  box-sizing: border-box;
}
.toggle.checked:before {
  background: #24e89c;
}
.toggle.checked:after {
  left: 33px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
  color: #16d088;
  padding: 14px 0 0 1px;
}

.sp{
  display: none;
}

/*ローカライズ*/
.language-change{
  display:flex;
  gap:10px;
  margin:10px;
  align-items:center;
  cursor:pointer;
}

html[lang='ja'] *:is([lang]):not([lang='ja']),
html[lang='zh-TW'] *:is([lang]):not([lang='zh-TW']),
html[lang='zh-CN'] *:is([lang]):not([lang='zh-CN']){
  display:none!important;
}

.toggle:lang(ja):after{
  content: "追加";
}
.toggle.checked:lang(ja):after{
  content: "置換";
}
.toggle:lang(zh-TW):after{
  content: "添加";
}
.toggle.checked:lang(zh-TW):after{
  content: "替換";
}
.toggle:lang(zh-CN):after{
  content: "添加";
}
.toggle.checked:lang(zh-CN):after{
  content: "替换";
}


