html{
  touch-action: manipulation;
}
header{
  background-color: rgb(15, 221, 204);
}
#images{
  margin-bottom: 5px;
  padding: 10px;
  border: black solid 1px;
  background-color: gray;
  overflow: auto;
  max-height: 100px;
}
#hr{
  margin: 10px;
}
#images img{
  margin: 0;
  width: 50px;
  height: 50px;
  position: static;
}
#item_select{
  width: 50px;
  height: 50px;
  border: gray solid 5px;
  padding: 0;
  margin: 0;
}
#file_name{
  margin: 0;
  padding: 0;
}
#images img:hover{
  cursor: pointer;
}
#lists img:hover{
  cursor: pointer;
}
#lists{
  margin: 0;
  padding: 0;
  max-width: 350px;
  max-height: 350px;
  width: 350px;
  height: 350px;
  border: black solid 1px;
  background-color: gray;
  display: block;
  margin: 0;
}
#lists{
  font-size: 0;
}
#lists li{
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-height: 50px;
  max-width: 50px;
}
.img_list{
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
#canvas_2d{
  border: black solid 1px;
}

#usage{
  background-color: rgb(233, 185, 97);
}
.ac-cap{
  padding-bottom: 10px;
}
.ac-cap label{
  background-color: rgb(83, 221, 48);
  text-align: center;
  color: white;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 30px;
  transition: 1s;
  transform: rotate(0deg);
}
.ac-cap label:hover{
  cursor: pointer;
}
.ac-cap input,
.sheen_hp input{
  display: none;
}
.ac-cap .content{
  height: 0;
  width: 100%;
  overflow-y: auto;
  transition: 1s;
}
.ac-cap input:checked + .ac-title + .content{
  height: 100px;
  transition: 1s;
}
.ac-cap input + .ac-title::before{
  content: "[+]";
}
.ac-cap input:checked + .ac-title::before{
  content: "[-]";
}

.div_submit input[type="button"]{
  margin-right: 3px;
  margin-bottom: 5px;
}

#canvas_img{
  display: none;
  max-width: 350px;
  max-height: 350px;
  background-color: gray;
  width: auto;
  height: auto;
}
#calendar{
  max-width: 350px;
  max-height: 350px;
}